button {
  width: full;
  border-radius: 45px;
  padding: 13.5px 29px 12.5px 22px;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #16abf8;
}

.btn-disable {
  opacity: 0.2;
}
