.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  opacity: 0.6;
}

.modal-delete-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.hidden {
  display: none;
}

.modal-delete {
  width: 600px;
  height: 355px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 62px 43px 62px;
}

.mr-10 {
  margin-right: 20px;
}
