.indicator {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  margin-right: 16px;
  margin-left: 16px;
}

.very-high {
  background-color: #ed4c5c;
}

.high {
  background-color: #f8a541;
}

.medium {
  background-color: #00a790;
}

.low {
  background-color: #428bc1;
}

.very-low {
  background-color: #8942c1;
}
